<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/styles/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/styles/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/styles/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="/styles/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/styles/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/styles/css/ionicons.css">
    <link rel="stylesheet" href="/styles/datatables.net-bs/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/daterangepicker.css">
    <link rel="stylesheet" href="/styles/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/styles/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/styles/dist/fullcalendar.css">
    <link rel="stylesheet" href="/styles/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ion.rangeSlider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/styles/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/styles/Ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/styles/morris.css">
    <link rel="stylesheet" href="/styles/morris.js/morris.css">
    <link rel="stylesheet" href="/styles/slider.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/adminlte.min.js"></script>
    <script src="/js/dependencies/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="/js/dependencies/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="/js/dependencies/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/js/dependencies/bootstrap-slider.js"></script>
    <script src="/js/dependencies/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="/js/dependencies/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="/js/dependencies/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/dependencies/chart.js"></script>
    <script src="/js/dependencies/Chart.js"></script>
    <script src="/js/dependencies/chart.js/Chart.js"></script>
    <script src="/js/dependencies/ckeditor.js"></script>
    <script src="/js/dependencies/ckeditor/ckeditor.js"></script>
    <script src="/js/dependencies/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="/js/dependencies/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/js/dependencies/daterangepicker.js"></script>
    <script src="/js/dependencies/dist/fullcalendar.js"></script>
    <script src="/js/dependencies/dist/inputmask/bindings/inputmask.binding.js"></script>
    <script src="/js/dependencies/dist/inputmask/dependencyLibs/inputmask.dependencyLib.jqlite.js"></script>
    <script src="/js/dependencies/dist/inputmask/dependencyLibs/inputmask.dependencyLib.jquery.js"></script>
    <script src="/js/dependencies/dist/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="/js/dependencies/dist/inputmask/global/document.js"></script>
    <script src="/js/dependencies/dist/inputmask/global/window.js"></script>
    <script src="/js/dependencies/dist/inputmask/inputmask.date.extensions.js"></script>
    <script src="/js/dependencies/dist/inputmask/inputmask.extensions.js"></script>
    <script src="/js/dependencies/dist/inputmask/inputmask.js"></script>
    <script src="/js/dependencies/dist/inputmask/inputmask.numeric.extensions.js"></script>
    <script src="/js/dependencies/dist/inputmask/inputmask.phone.extensions.js"></script>
    <script src="/js/dependencies/dist/inputmask/jquery.inputmask.js"></script>
    <script src="/js/dependencies/dist/inputmask/phone-codes/phone-be.js"></script>
    <script src="/js/dependencies/dist/inputmask/phone-codes/phone-nl.js"></script>
    <script src="/js/dependencies/dist/inputmask/phone-codes/phone-ru.js"></script>
    <script src="/js/dependencies/dist/inputmask/phone-codes/phone-uk.js"></script>
    <script src="/js/dependencies/dist/inputmask/phone-codes/phone.js"></script>
    <script src="/js/dependencies/dist/jquery.js"></script>
    <script src="/js/dependencies/dist/jquery.sparkline.js"></script>
    <script src="/js/dependencies/dist/js/bootstrap-colorpicker.js"></script>
    <script src="/js/dependencies/dist/js/bootstrap-datepicker.js"></script>
    <script src="/js/dependencies/dist/js/bootstrap.js"></script>
    <script src="/js/dependencies/dist/js/select2.js"></script>
    <script src="/js/dependencies/eve-raphael/eve.js"></script>
    <script src="/js/dependencies/eve.js"></script>
    <script src="/js/dependencies/fastclick/lib/fastclick.js"></script>
    <script src="/js/dependencies/Flot/jquery.flot.js"></script>
    <script src="/js/dependencies/fullcalendar/dist/fullcalendar.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/bindings/inputmask.binding.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/dependencyLibs/inputmask.dependencyLib.jqlite.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/dependencyLibs/inputmask.dependencyLib.jquery.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/global/document.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/global/window.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/inputmask.date.extensions.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/inputmask.extensions.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/inputmask.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/inputmask.phone.extensions.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/jquery.inputmask.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/phone-codes/phone-be.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/phone-codes/phone-nl.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/phone-codes/phone-ru.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/phone-codes/phone-uk.js"></script>
    <script src="/js/dependencies/inputmask/dist/inputmask/phone-codes/phone.js"></script>
    <script src="/js/dependencies/ion.rangeSlider/js/ion.rangeSlider.js"></script>
    <script src="/js/dependencies/jquery-knob/js/jquery.knob.js"></script>
    <script src="/js/dependencies/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/js/dependencies/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/dependencies/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <script src="/js/dependencies/jquery-ui.js"></script>
    <script src="/js/dependencies/jquery-ui/jquery-ui.js"></script>
    <script src="/js/dependencies/jquery.flot.js"></script>
    <script src="/js/dependencies/jquery.slimscroll.js"></script>
    <script src="/js/dependencies/jquery.slimscroll.min.js"></script>
    <script src="/js/dependencies/jquery/dist/jquery.js"></script>
    <script src="/js/dependencies/js/bootstrap-timepicker.js"></script>
    <script src="/js/dependencies/js/dataTables.bootstrap.js"></script>
    <script src="/js/dependencies/js/ion.rangeSlider.js"></script>
    <script src="/js/dependencies/js/jquery.dataTables.js"></script>
    <script src="/js/dependencies/js/jquery.knob.js"></script>
    <script src="/js/dependencies/jvectormap/src/jvectormap.js"></script>
    <script src="/js/dependencies/lib/fastclick.js"></script>
    <script src="/js/dependencies/mocha.js"></script>
    <script src="/js/dependencies/mocha/mocha.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/dependencies/moment/moment.js"></script>
    <script src="/js/dependencies/morris.js"></script>
    <script src="/js/dependencies/pace.js"></script>
    <script src="/js/dependencies/PACE/pace.js"></script>
    <script src="/js/dependencies/raphael.min.js"></script>
    <script src="/js/dependencies/raphael/raphael.min.js"></script>
    <script src="/js/dependencies/select2/dist/js/select2.js"></script>
    <script src="/js/dependencies/src/jvectormap.js"></script>
    <script src="/js/bootstrap-timepicker.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script src="/js/ion.rangeSlider.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/jquery.knob.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
